*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
}

.container {
    width: 100%;
    height: 100%;
    background-color: rgb(62, 60, 60);
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 4rem;
    place-items: center;
}

.item {
    height: 100px;
    width: 100px;
    background-color: rgb(7, 62, 56);
    border: 5px solid rgb(241, 241, 41);
    color: white;
    /* justify-self: end; */
    /* justify-self: stretch; */
    /* align-self: stretch; */

    /* place-self: center;    justify-self, align-self */
    /* place-self: stretch; */
    /* align-items: stretch; */

}

